body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #0a34a8;
}

h1 {
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  background: url(water.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: textbackground 20s linear infinite;
}

@keyframes textbackground {
  form {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
